<a routerLink="" class="btn bg mb-3"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>&nbsp;Back</a>

<table class="table table-bordered">
<thead>
    <tr class="bg">
      <th>FirstName</th>
      <th>LastName</th>
      <th>Email</th>
      <th>PhoneNumber</th>
      <th>CompanyName</th>
    </tr>
  </thead>
<tbody>
  <tr *ngFor="let a of item">
    <td>{{a.first_name}}</td>
    <td>{{a.last_name}}</td>
    <td>{{a.email}}</td>
    <td>{{a.phone_number}}</td>
    <td>{{a.company_name}}</td>
  </tr>
  </tbody>
</table>

