<a routerLink="" class="btn bg mb-3"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>&nbsp;Back</a>

<table class="table table-bordered">
<thead>
    <tr class="bg">
      <th>FirstName</th>
      <th>LastName</th>
      <th>Email</th>
      <th>PhoneNumber</th>
      <th>CompanyName</th>
    </tr>
  </thead>
<tbody>
  <tr>
    <td>{{userby.first_name}}</td>
    <td>{{userby.last_name}}</td>
    <td>{{userby.email}}</td>
    <td>{{userby.phone_number}}</td>
    <td>{{userby.company_name}}</td>
  </tr>
  </tbody>
</table>
